/*ESTILOS GENERALES*/

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background-color: RGB(253, 207, 155);
  background-image: url(../../../public/imgProducts/cafeFondo.png);
  background-position: 10px;
}

.title {
  margin: 5rem 3rem;
  font-size: 3.5rem;
  color: #043517;
}

.itemList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  
}

.items {
  height: auto;
  width: 19%;
  border: 17px groove #307a79;
  border-radius: 10px 10px 10px 10px; background-color: RGB(253, 207, 155);
}

.items img {
  height: auto;
  width: 100%;
}

.linkItem {
  text-decoration: none;
  font-size: 2rem;
  width: 20rem;
  height: 4rem;
  border-width: 0px;
  color: rgba(255, 255, 255, 1);
  border-color: #0b0e07;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: inset 0px 16px 16px 0px rgba(118, 194, 27, 1);
  background: linear-gradient(rgba(63, 99, 22, 1), rgba(98, 134, 55, 1));
}

.linkItem:hover {
  background: linear-gradient(rgba(98, 134, 55, 1), rgba(63, 99, 22, 1));
}

.items h3 {
  font-size: 2rem;
  color: #0d4a49;
}

.items p {
  font-size: 1.7rem;
  font-weight: 700;
  color: #043517;
}

.itemDetail {
  margin-top: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  
}

.itemConteiner__Detail {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 17px groove #307a79;
  border-radius: 10px 10px 10px 10px;
  background-color: RGB(253, 207, 155);
}

.itemDetailDiv1 h1 {
  font-size: 1.7rem;
  color: #043517;
}

.itemDetailDiv1 img {
  width: 25rem;
  border-style: solid;
  color: #ffe69b; 
}

.itemDetailDiv2 h3 {
  font-size: 1.5rem;
  color: #043517;
}

.descripcion {
  font-size: 1.5rem;
  margin: 0 auto;
  width: 85%;
  line-height: 2rem;
}

.itemCountContainer {
  display: flex;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.itemCountDiv {
  display: flex;
  justify-content: center;
}

.numberCount{
  font-size: 1.5rem;
  font-weight: 700;
  color: #043517;
}

.buttonMenos {
  margin-right: 1rem;
  border-width: 0px;
  color: rgba(255, 255, 255, 1);
  border-color: #0b0e07;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: inset 0px 16px 16px 0px rgba(118, 194, 27, 1);
  background: linear-gradient(rgba(63, 99, 22, 1), rgba(98, 134, 55, 1));
}

.buttonMenos:hover {
  background: linear-gradient(rgba(98, 134, 55, 1), rgba(63, 99, 22, 1));
}
.buttonMas {
  margin-left: 1rem;
  border-width: 0px;
  color: rgba(255, 255, 255, 1);
  border-color: #0b0e07;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: inset 0px 16px 16px 0px rgba(118, 194, 27, 1);
  background: linear-gradient(rgba(63, 99, 22, 1), rgba(98, 134, 55, 1));
}
.buttonMas:hover {
  background: linear-gradient(rgba(98, 134, 55, 1), rgba(63, 99, 22, 1));
}
.buttonAgregar {
  margin-left: 1rem;
  border-width: 0px;
  color: rgba(255, 255, 255, 1);
  border-color: #0b0e07;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: inset 0px 16px 16px 0px rgba(118, 194, 27, 1);
  background: linear-gradient(rgba(63, 99, 22, 1), rgba(98, 134, 55, 1));
}
.buttonAgregar:hover {
  background: linear-gradient(rgba(98, 134, 55, 1), rgba(63, 99, 22, 1));
}

.linkCarrito{
  text-decoration: none;
  font-size: 2rem;
  margin: 1rem;
  padding: 0 .5rem;
  border-width: 0px;
  color: rgba(255, 255, 255, 1);
  border-color: #0b0e07;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: inset 0px 16px 16px 0px rgba(118, 194, 27, 1);
  background: linear-gradient(rgba(63, 99, 22, 1), rgba(98, 134, 55, 1));
}

.linkCarrito:hover{
  background: linear-gradient(rgba(98, 134, 55, 1), rgba(63, 99, 22, 1));
}


