/*ESTILOS GENERALES*/

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background-color: RGB(253, 207, 155);
  background-image: url(../../../public/imgProducts/cafeFondo.png);
  background-position: 10px;
}

/* ESTILO COMPONENTE ITEMLISTCONTEINER*/

.title {
  margin: 5rem 3rem;
  font-size: 3.5rem;
  color: #043517;
}

